{{#section 'title'}}Danh sách tai khoan{{/section}}
{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Danh sach tai khoan</h1>

<div class="row">
    <div class="col-lg-12">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-hover mb-0 " id="table">
                    <thead class="">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ten</th>
                            <th scope="col">Email</th>
                            <th scope="col">Trang thai</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each accList}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td>{{#if (isEqual permisson 4) }} Quản lí
                                {{else if (isEqual permisson 3)}} Biên tập viên
                                {{else if (isEqual permisson 2)}} Nhà báo
                                {{else }} Người xem
                                {{/if}}</td>

                            <td class='text-right'>
                                {{#if (isEqual permisson 1)}}
                                <a class="btn btn-sm btn-outline-primary" href="/dashboard/account/{{id}}"
                                    role="button"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                                {{else if (isEqual permisson 3) }}
                                <a class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                    data-target="#assignedModal" href="#" role="button"><i class="fa fa-tasks"
                                        aria-hidden="true"></i></a>
                                {{/if}}
                                <a class="btn btn-sm btn-outline-success" href="/dashboard{{#unless (isEqual ../user.id id)}}/account/edit/{{id}}{{/unless}}"
                                    role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                {{#unless (isEqual ../user.id id)}}
                                <a class="btn btn-sm btn-outline-danger" onclick='deleteFormSubmit("Tài khoản",{{id}})'
                                    href="#" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                {{/unless}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
        {{#if pag}}
        <nav>
            <ul class="pagination justify-content-center list-page">
                <li class="page-item {{#unless prev.isValid}}disabled{{/unless}}">
                    <a class="page-link rounded" href="?page={{prev.page}}" tabindex="-1"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i></a>
                </li>
                <li class="page-item active">
                    <a class="page-link rounded" href="#">{{page}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item {{#unless next.isValid}}disabled{{/unless}}">
                    <a class="page-link rounded" href="?page={{next.page}}"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
        {{/if}}
    </div>
</div>
<form id='frmSend' style='display:none' method='post' action='/dashboard/account/delete'>
    <input type="text" name="id">
</form>

{{#section 'modal'}}
<div class="modal fade" id="assignedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chia danh muc cho bien tap vien</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='/dashboard/account/manage' method='post'>
        <div class="modal-body">
          <p>Tai khoan: <span id='name'></span></p>
          <p>Email: <span id='email'></span></p>
          <div class="form-group mb-2">
            <label>Chuyen muc quan ly:</label>
            <div class="input-group">
              <input id='id' name='id' type="hidden">
              <select name='cids' id='categoryList' class="js-category form-control" multiple style="width:100%">
                {{#each categoryList}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Dong</button>
          <button type="submit" class="btn btn-primary">Dong y</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/section}}

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  $('.js-category').select2({
    theme: 'classic'
  });

  $('#assignedModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget) // Button that triggered the modal
    const recipient = button.parent().parent().children() // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('#categoryList').val([]).trigger('change')
    modal.find('#id').val(recipient[0].innerText)
    modal.find('#name').text(recipient[1].innerText)
    modal.find('#email').text(recipient[2].innerText)

    $.getJSON('/dashboard/account/manage?id='+recipient[0].innerText,result=>{
        const cids = result.map(x=>x.cid)
        modal.find('#categoryList').val(cids).trigger('change')
    })
  })

</script>
{{/section}}