{{#section 'title'}}Chỉnh sửa bài viết{{/section}}
{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
{{/section}}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Chỉnh sửa bài viết mới</h1>

<div class="row">

  <div class="col-lg-9">

    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nội dung bài viết</h6>
      </div>

      <div class="card-body">
        <div class="form-group">
          <label>Tiêu đề bài viết</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-book"
                  aria-hidden="true"></i></span></div>
            <input readonly id='title' type="text" class="form-control" placeholder="Tiêu đề bài viết"
              value='{{postData.title}}' />
          </div>
        </div>
        <div class="form-group">
          <label>Nội dung</label>
          <textarea id='content'>{{{postData.content}}}</textarea>
        </div>
        <div class="form-group">
          <label>Nội dung tóm tăt</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-edit"
                  aria-hidden="true"></i></span></div>
            <input readonly id='abstract' type="text" class="form-control" placeholder='Nội dung tóm tăt'
              value='{{postData.abstract}}' />
          </div>
        </div>
        <form id='frmAvatarUpload' method='post' enctype="multipart/form-data">
          <div class="form-group mb-2">
            <label>Hình ảnh đại diện</label>
            <div class="input-group">
              <img src="/public/images/post_{{postData.id}}_0.jpg" class="img-fluid">
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <a class="btn btn-outline-success" data-toggle="modal" data-target="#approveModal" href='#' role="button"><i
            class="fa fa-check" aria-hidden="true"></i> Duyệt</a>
        <a class="btn btn-outline-danger" data-toggle="modal" data-target="#declineModal" href='#' role="button"><i
            class="fa fa-ban" aria-hidden="true"></i> Từ chối</a>
      </div>

    </div>

  </div>

  <div class="col-lg-3">

    <!-- Circle Buttons -->
    <div class="card shadow mb-4 sticky-top">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tùy chọn bài viết</h6>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Chuyên mục</label>
          <div class="input-group">
            <select id='category' class="js-category form-control" style="width:100%">
              {{#each categoryList}}
              <optgroup label="{{name}}">
                <option {{#if (isEqual ../postData.cid @index)}}selected{{/if}} value="{{@index}}">*{{name}}</option>
                {{#each group}}
                <option {{#if (isEqual ../../postData.cid id)}}selected{{/if}} value="{{id}}">{{name}}</option>
                {{/each}}
              </optgroup>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Từ khóa</label>
          <div class="input-group">
            <select id='tag' class="js-tag form-control" multiple style="width:100%">
              {{#each tagList}}
              <option {{#each ../postData.tags}} {{#if (isEqual this ../id)}}selected{{/if}} {{/each}} value="{{id}}">
                {{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Tác giả</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"
                  aria-hidden="true"></i></span></div>
            <input readonly type="text" class="form-control" placeholder='Tac gia' value='{{postData.uname}}' />
          </div>
        </div>
        <div class="form-group mb-2">
          <div class="custom-control custom-switch">
            <input readonly type="checkbox" class="custom-control-input" id="customSwitch1_"
              {{#if postData.premium}}checked{{/if}}>
            <label class="custom-control-label" for="customSwitch1">Bài viết Premium</label>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

{{#section 'modal'}}
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn duyệt bài viết này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-2">
          <label>Thời gian xuất bản</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-clock-o"
                  aria-hidden="true"></i></span></div>
            <input id="datetimepicker" name='postdate' type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button onclick='onApprove(this)' type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn từ chối bài viết này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='/dashboard/post/decline' method='post'>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label>Lý do từ chối</label>
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-question-circle"
                    aria-hidden="true"></i></span></div>
              <input name='id' value='{{postData.id}}' type="hidden">
              <input name='reason' type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary">Đồng ý</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
<script>
  $('#datetimepicker').datetimepicker({
    format: 'd/m/Y H:i:s',
    mask: true
  });
  $('.js-category').select2({
    theme: 'bootstrap'
  });
  $('.js-tag').select2({
    theme: 'classic'
  });
  tinymce.init({
    selector: 'textarea',
    height: 600,
    plugins: 'preview',
    menubar: false,
    toolbar: 'preview',
    init_instance_callback: function (editor) {
      editor.getBody().setAttribute('contenteditable', false);
      editor.getBody().style.backgroundColor = "rgb(233, 236, 239)";
    }
  });

  function onApprove(btn) {
    btn.disabled = true
    let formData = {
      cid: $('#category').val(),
      tag: $('#tag').val(),
      id: {{ postData.id }
  },
  postdate: $('#datetimepicker').datetimepicker('getValue').toJSON()
    }
  $.post('/dashboard/post/updateContent-Tag', $.param(formData)).done(() => {
    location.href = '/dashboard/post/list/draft'
  })
  }
</script>
{{/section}}