{{#section 'title'}}{{detail.title}}{{/section}}

<!--DETAIL-->
<div class='pt-3'>
  <header class='entry-header'>
    <h1 class="post-title lg"> {{detail.title}}</h1>
    <ul class="post-meta">
      <li class="post-category"> 
        {{#if detail.premium}}
        <a class="post-cat" style="background-color:#ff0000;color:#ffffff"> Premium </a> 
        {{/if}}
        <a class="post-cat" href="/category/{{detail.cid}}" style="background-color:#38a3d7;color:#ffffff"> {{detail.cname}} </a> </li>
      <li class="post-author"><img src="https://img.icons8.com/cute-clipart/64/000000/user-male.png" class="rounded-circle" height="55" width="55"> <strong>{{detail.uname}}</strong></li>
      <li class="post-meta-date"> <i class="fa fa-clock-o"></i> {{formatDate detail.postdate 'lll' }}</li>
      <li class="post-comment"><i class="fa fa-comments"></i> {{cmtrowslenght}}</li>
      <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> {{detail.views}}</li>
    </ul>
  </header>

  <div class="entry-content clearfix">
    {{detail.content}}
    <div class="post-footer clearfix"></div>
  </div>

  <div class="list-post">
    <strong>Tags: </strong>
    {{#each detail.tag}}
    <a class="post-cat" href="/tag/{{id}}" style=" background-color:#00000060;color:#ffffff ">{{name}}</a>
    {{/each}}
  </div>
</div>
<div class='pt-3'></div>
<!--RELATED-->
<div class='pt-3'>
  <h4 class="block-title"> <span class="title-angle-shap"> BÀI VIẾT LIÊN QUAN </span></h4>
  <div class="owl-carousel owl-theme py-4">

    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item item-before" style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
      <a class="img-link" href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
      <div class="overlay-post-content">
        <div class="post-content">
          <div class="grid-category"> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/" style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/" style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
          <h3 class="post-title"> <a href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
              The mental toll on health care workers infection rate rises </a></h3>
          <ul class="post-meta-info">
            <li class="author"> <i class="fa fa-user"></i> John Wick</li>
            <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
          </ul>
        </div>
      </div>
    </div>


  </div>

</div>

<!--COMMENT-->
<div class='pt-3'>
  <h4 class="block-title"> <span class="title-angle-shap"> BÌNH LUẬN CỦA ĐỘC GIẢ </span></h4>
  <ul class="comments-list py-4">
    {{#each cmtrows}}
      <img src="http://0.gravatar.com/avatar/6b622b6dde539b8091333c656733c122?s=60&amp;d=mm&amp;r=g" class="comment-avatar" height="60" width="60">
      <li class="comment">
        <div id="div-comment-2" class="comment-body">
          <div class="meta-data">
            <strong>{{name}} </strong>
            <div class="comment-date">
              {{formatDate time 'lll'}} </div>
          </div>
          <div class="comment-content mt-3">
            <p>{{content}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  <h5>Bạn phải đăng nhập để bình luận</h5>
  <form method="POST">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Bình luận của bạn: </label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Gửi</button>
  </form>
</div>

<div class='pb-5'></div>