<nav class="container navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="/">
    <img src="/public/images/logo.png" width="172" height="40" alt="" loading="lazy">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mt-2 mt-lg-0">
      {{#each categoryList}}
      {{#if show}}
      <li class="nav-item">
        <a class="nav-link" href="/category/{{@key}}">{{name}}</a>
      </li>
      {{/if}}
      {{/each}}
      <li class="nav-item more">
        <a class="nav-link" href="#">●●●</a>
      </li>
    </ul>
    <div style="margin-right:10px;"></div>
    <form action='/search' class="form-inline my-2 my-lg-0 mr-auto">
      <input required name='keyword' class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" value='{{{_sections.keyword}}}'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{#if user}}/dashboard{{else}}/account{{/if}}">
          <i class="fa fa-user" aria-hidden="true"></i>
          Tài khoản
        </a>
      </li>
    </ul>
    
  </div>
</nav>
<div class='fixed-top category'> 
  <div class='container my-3'>
    <ul class='category-menu'>
      {{#each categoryList}}
      <li>
          <a href="/category/{{@key}}" title="{{name}}">{{name}}</a>
          <div class="subcate">
              {{#if group}}
              {{#each group}}
              <ul>
                  <li>
                      <a href="/category/{{id}}">{{name}}</a>
                  </li>
              </ul>
              {{/each}}
              {{/if}}
          </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
